// Colors:
$light-purple: rgba(156,32,191, 1);
$light-purple-disabled: rgba(156,32,191, .5);
$dark-purple: rgba(131,4,216, 1);
$light-orange: rgba(242,135,4, 1);
$dark-orange: rgba(242,115,4, 1);
$light-grey: rgba(200,200,200, 1);
$medium-grey: rgba(120,120,120,1);
$dark-grey: rgba(60,60,60,1);
$green1: rgba(11,191,89, 1);
$green2: rgba(30,140,78, 1);
$green3: rgba(47,191,109, 1);
$green4: rgba(136,216,171, 1);

