// Colors:
// purples:
$purple1: rgba(228,214,245, 1);
$purple2: rgba(131,4,216, 1);
$purple3: rgba(156,32,191, 1);
$purple3-disabled: rgba(156,32,191, .5);
// oranges:
$orange1: rgba(245,235,200, 1);
$orange2: rgba(242,135,4, 1);
$orange3: rgba(242,115,4, 1);
// greys:
$light-grey: rgba(200,200,200, 1);
$medium-grey: rgba(120,120,120,1);
$dark-grey: rgba(60,60,60,1);
// greens:
$green1: rgba(136,216,171, 1);
$green2: rgba(11,191,89, 1);
$green3: rgba(47,191,109, 1);
$green4: rgba(30,140,78, 1);

