.Counter-header{
   background-color: aquamarine;
   padding-bottom: 1em;
   display: flex;
   justify-content:center;
   align-items: flex-end;
   height: 5em;
}
.Header-text{
   display: flex;
   justify-content:flex-start;
   margin-bottom: -4px;
   width: 10em;
   border: 1px solid gray;
}
.Header-buttons{
   border: 1px solid gray;
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   margin-right: 4em;
   margin-left: -1em;
   width: 3em;
}